src
examples
coverage
docs
*.png
*.log
jest.config.js
tsconfig.json
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
tslint.json
.circle
.gitignore
.vscode
.publishrc
.rpt2_cache

prettier.config.js
screenshot.jpg
